
@{
    ViewBag.Title = "SuccessView";
}

<div class="jumbotron jumbotron-fluid mt-5 ml-5  rounded-3 text-center bg-transparent bg-info shadow-lg">
    <div class="container">
        <h1 class="display-4">Yours order is placed and rolling to you</h1>
        <p class="lead">Thank you for yours purachse.</p>
        <p> <a href="https://localhost:44325/">return back to main page</a></p>
    </div>
</div>

